@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    margin: auto;
    background-image: 
    linear-gradient(
        150deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
    url(https://images.unsplash.com/photo-1531482615713-2afd69097998?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.society-logo{
    width: 100px;
    height: 100px;
    margin-top: 35px;
}

h1{
    margin-bottom: 0;
}

h1 + p{
    margin-top: 10px;
}

form{
    background-color: rgb(28, 27, 66);
    box-shadow: 2px 5px 10px rgb(0, 0, 0, 0.4);
    max-width: 550px;
    margin: 40px auto;
    padding: 30px 20px;
    border-radius: 3px;
}

.form-control{
    text-align: left;
    margin-bottom: 15px;
}

.form-control label{
    display: block;
    margin-bottom: 5px;
}

.form-control input, 
.form-control select,
.form-control textarea
{
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px;
    display: block;
    width: 100%;  
}

.form-control textarea{
    height: 100px;
}

.form-control input[type="radio"], 
.form-control input[type="checkbox"]
{
    display: inline-block;
    width: auto;
}

button{
    background-color: cornflowerblue;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    color: white;
    font-size: 16px;
    display: block;
    padding: 10px;
    width: 100%;
}
