#image{
    max-width: 40%;
    height: auto;
    display: inline-block;
    margin: auto;
}

#img-div{
    background: #FFFFFF;
    padding: 25px
}

#img-div p{
    display: inline-block;
    float: left;
}

#title li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin: 50px;
}

#main{
    font-family: 'Helvetica';
}

#tribute-info{
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
    text-align: left;
}

h3{
    text-align: center;
}

#title{
    padding: 20px;
    text-align: center;
    background-color: #333;
}

#video-div{
    padding: 5px;
    margin-bottom: 50px;
}

li{
    padding-block: 10px;
}
