#image{
    max-width: 40%;
    height: auto;
    display: block;
    margin: auto;
}

#img-div{
    background: #FFFFFF;
}

#main{
    text-align: center;
    background: #EEEEEE;
}

#tribute-info{
    width: 40%;
    height: auto;
    display: block;
    margin: auto;
    text-align: left;
    font-family: Helvetica;
}

h3{
    text-align: center;
}

#title{
    padding: 20px;
}

li{
    padding-block: 10px;
}

